<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Obsession</title>
  <link href="css/styles.css" rel="stylesheet"  type= "text/css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/obsession.js"></script>
</head>
<body>
    <div class="container">
      <div class="nav-bar">
        <div id="nav-left">
          <a href="/">OBSESSION</a>

        </div>
  
      </div>

</body>
</html> 