body  {
  background: url(../images/crossword.png);
}

nav {
  text-align: center;
  width: 100%;
}

.wrapper-head {
  width: 1200px;
  margin: 0 auto;
  background-color: teal;
} 

.wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: aqua;
}

* {
  box-sizing: border-box;         /* Opera/IE 8+ */ 
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

}

/*create wrapper inside nav and make it 1200px*/

/************************************************************************************************/
/*****************************************  product box ****************************************/
/************************************************************************************************/

.container {
  float: left;
  width: 32.33%; 
  border: 1px solid blue;
  /*margin: 0 auto;*/
  margin: .5%;
}


/************************************************************************************************/
/*****************************************  image info ****************************************/
/************************************************************************************************/


.image-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd9d9;
  background-color: #FFFFFF;
}

.sale_info {
  height: 400px;
  width: 300px; 
  margin: 0 auto;
}

/************************************************************************************************/
/*****************************************  buy info ****************************************/
/************************************************************************************************/


.buy-container {
  border-color: rgba(255,255,255,0.6);
  width: 100%;
  margin-top: -70.3px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  float: left;
}

.button {
  font-size: 18px;
  /*height: 30px;*/
  width: 80px;
  border-radius: 5px;
  background-color: #E5B12C;
  border-color: #E5B12C;
  color: #FFFFFF;
  box-shadow-color:#E5B12C;
  position: center;
}

.button:hover {
  background-color: #FFFFFF;
  border-color: #E5B12C;
  color: #E5B12C;
}


/************************************************************************************************/
/*****************************************  product info ****************************************/
/************************************************************************************************/

.products-container {
  display: block;
  height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid black;
  overflow: hidden;
}

.product-info{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd9d9;
}

.product-info ul {
  border: 1px solid #ddd9d9;
  padding: 15px 0px 20px 0px;
}

.product-info ul li {
  list-style: none;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.product-name {
  font-weight: bold;
  font-size: 17px;
}

.msrp {
  font-size: 14px;
}

.price {
  padding-top: 20px;
}

/************************************************************************************************/
/*****************************************  footer ****************************************/
/************************************************************************************************/
footer {
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd9d9;
  overflow: hidden;
}

/*create wrapper inside footer and make it 1200px*/